.form__legend {
    border: 2px solid teal;
    padding-inline: 20px;

}

.form__field {
    width: 100px;
    border: 2px solid hsl(180, 100%, 25%);
}

.form__button {
    color: white;
    background-color: teal;
    border-color: white;
    box-shadow: 2px 2px 8px #ccc;
}

.form__result {
    color: teal;
}

.form__paragraph {
    text-align: center;
}