html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    background-image: url("../images/hd-wallpaper-7619151_1920.jpg");
    background-position: center;
}