html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
}